<h1>Employees:</h1>

<table>
    <thead> 
        <th>Id</th>
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Title</th>
        <th>Department</th>  
        <th>Salary</th>  
        <th>Hourly Rate</th>  
    </thead> 
    <tbody> 
        {{#each employees}}
        <tr> 
            <td>{{id}}</td>
            <td>{{first_name}}</td> 
            <td>{{last_name}}</td> 
            <td>{{title}}</td> 
            <td>{{dept_id_fk}}</td>
            <td>{{salary}}</td>
            <td>{{hourly_rate}}</td>
            <td><button onclick="deleteEmployee({{id}})">Delete</button></td>
            <td><a href="/employees/{{id}}">Update</a></td>
        </tr> 
        {{/each}}
    </tbody> 

    <form id="addEmployees" action="/employees" method="post">
        <h3>Add Employee</h3>
        <label>
            <span>First Name: </span>
            <input id="fname" type="text" name="fname" placeholder="Enter First Name" />
        </br></br>
        </label>
        <label>
            <span>Last Name: </span>
            <input id="lname" type="text" name="lname" placeholder="Enter Last Name" />
        </label>
        </br></br>
        <label>
            <span>Title: </span>
            <input id="title" type="text" name="title" placeholder="Enter Title" />
        </label>
        </br></br>
        <label>
            <span>Salary: </span>
            <input id="salary" type="text" name="salary" placeholder="Enter Salary" />
        </label>   
        </br></br>
        <label>
            <span>Hourly Rate: </span>
            <input id="hourlyRate" type="text" name="hourlyRate" placeholder="Enter Hourly Rate" />
        </label>   
        </br></br>  
        <label>
            <span>Department: </span>
            <input id="department" type="text" name="department" placeholder="Enter Department ID" />
        </label>   
        </br></br>                                     
        <label>
            <input type="submit" class="button" value="Submit" /> 
        </label>  
    </form>        

</table> 
