<h1>Scope of Works:</h1>

<table>
    <thead> 
        <th>SOW Id</th>
        <th>Job ID</th>
        <th>Emp Id</th> 
        <th>Fee</th>
    </thead> 
    <tbody> 
        {{#each sow}}
        <tr> 
            <td>{{sow_id}}</td>
            <td>{{job_id_fk}}</td> 
            <td>{{emp_id_fk}}</td>
            <td>{{fee}}</td>
            <td><button onclick="deleteSOW({{id}})">Delete</button></td>
            <td><a href="/sows/{{id}}">Update</a></td>
        </tr> 
        {{/each}}
    </tbody> 

    <form id="addSOW" action="/sows" method="post">
        <h3>Add SOW Detail</h3>
        <label>
            <span>SOW Id: </span>
            <input id="SOW_ID" type="text" name="SOW_ID" placeholder="Enter SOW ID #" />
        </br></br>
        </label>
        <label>
            <span>Job Id: </span>
            <input id="SOWJobID" type="text" name="SOWJobID" placeholder="Enter Job ID #" />
        </label>
        </br></br>
        <label>
            <span>Emp Id: </span>
            <input id="SOWempID" type="text" name="SOWempID" placeholder="Enter Emp ID #" />
        </label>
        </br></br>
        <label>
            <span>Fee: </span>
            <input id="fee" type="text" name="fee" placeholder="Enter Fee" />
        </label>   
        </br></br>                     
        <label>
            <input type="submit" class="button" value="Submit" /> 
        </label>  
    </form>    

</table> 
